 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    max-width: 80px;
    float: left;
    margin-right: 5px;
}

h1{
    color: #E53170;
    text-align: center;
}

.debug{
    border: black dashed;
}

.container{
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}
.paragraph-1{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.row{
    margin: 0 ;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;

}

.col{
    float: left;
    width: calc(100% / 3);
    padding: 0 20px;
    margin-bottom: 50px;
    
}
.card{
    height: 80px;
    width: 238px;
    background-color: black;
    border-radius: 2px;
    padding: 0;
    box-shadow: 5px 5px 5px 5px #dedede;
    color: white;
    line-height: 25px;
}
.card-text{
    margin-left: 30px;
    font-size: small;
}
a{
    text-decoration: none;
    color: #459BC8;
}

